<section id="about-container" class="jumbotron body-container">
    <h1>Hello, world!</h1>
    <hr/>
    <p>Meet the geeky computer scientist with a very strong passion for food. Having moved to London a few years ago,
        I've been astounded by the rate at which Halal stores in cental London have grown. Despite this fact,
        because of lack of awareness, people are deprived of choice come dinner time. Since I already invest
        quite a bit of time trying out new places, I've taken it upon myself to record my visits, both good
        and bad, and spread the knowledge!
      </p>
    <!-- <button type="button" class="btn btn-danger btn-lg" onclick="location.href='https://instagram.com/thefatomarr'" role="button">Learn more</button> -->
</section>