<br/>

<div class="jumbotron">

  <div class="row">
    <div class="col-md-1">
        <button class="btn btn-danger" (click)="goBack()">Back</button>
    </div>
    <div class="col-md-11"></div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-6 order-md-last order-lg-last">
      <carousel class="carousel-fade">
        <slide class="animated fadeIn">
          <img src="assets/images/creams/1.jpg" alt="First slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide class="animated fadeIn">
          <img src="assets/images/creams/2.jpg" alt="First slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
      </carousel>
    </div>
    <div class="col-sm-6 order-md-first order-lg-first">
      <h1 class="display-4">Creams</h1>
      <hr/>
      <br/>
      <p class="lead">Creams is a dessert parlour with branches nationwide, serving up all kinds of mouth watering treats. The place itself is styled like a diner with a theme of black and purple. The menu is extensive and well sectioned, making it very hard to pick your sin. We decided to order a sweet shop bubble pop waffle and a kinder bueno cookie dough. The waffle was massive and smelled amazing! The bubblegum ice cream gave it a unique funky refreshing taste. The cookie dough was warm, soft and gooey on the inside, and went very well with the vanilla ice cream and the partially melted cookie dough. 
        <br/>
        <br/>Verdict: 👍🏼
        <br/>
        <br/>
        Fully halal establishment
      </p>
    </div>
  </div>
  <hr/>
</div>