<br/>
<carousel class="carousel-fade">
  <slide class="animated fadeIn">
    <img src="assets/images/baba_gs_chicken.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide class="animated fadeIn">
    <img src="assets/images/creams_bubble_waffle.1.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide class="animated fadeIn">
    <img src="assets/images/pizza_express_doughballs.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
</carousel>
<br/>

<app-about></app-about>